nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  //   border: 2px solid red;
  .nav-logo {
    img {
      height: 5vh;
    }
  }

  .nav-sections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;

    a {
      color: white;
      text-decoration: none;
    }
  }
}
