nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  //   border: 2px solid red;
  .nav-logo {
    img {
      height: 5vh;
    }
  }

  .nav-sections {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;

    a {
      color: white;
      text-decoration: none;
    }

    a:nth-child(5) {
      color: white;
      background-color: #a6bf9d;
      padding: 3px;
      width: 10vw;
      border: none;
      border-radius: 20px;
      cursor: pointer;
    }

    a:nth-child(6) {
      color: white;
      padding: 2px;
      width: 10vw;
      border: 2px solid white;
      border-radius: 20px;

      text-decoration: none;
    }
  }
}
