.apartaments-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;

  h1 {
    font-family: "Expletus Sans", cursive;
    font-size: 70px;
    color: #a6bf9d;
    margin: 0;
    margin-bottom: 50px;
  }

  .apartaments-box-Searcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

    .apartaments-box-Searcher-filters {
      display: flex;
      align-items: center;

      input {
        height: 2.5vh;
        width: 25vw;
        border-radius: 30px;
        padding: 12px;
        margin-right: 20px;
        border: none;
        background-color: #f0f4ef;
      }

      input::placeholder {
        color: #7d9077;
        font-weight: bold;
      }

      button:nth-child(3) {
        border: none;
        height: 8vh;
        width: 15vh;
        color: #7d9077;
        font-weight: bold;
        background-color: #f0f4ef;
        cursor: pointer;
      }

      button:nth-child(4) {
        border: none;
        background-color: white;
        padding-left: 40px;
        cursor: pointer;
        height: 5vh;

        img {
          height: 25px;
        }
      }
    }

    .apartaments-box-Searcher-showMapButton {
      display: flex;
    }
  }

  .apartaments-box-cards {
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;

    .apartaments-box-cards-eachCard {
      display: flex;
      height: 40vh;
      width: 80vh;
      border-radius: 20px;
      background-color: #f0f4ef;
      margin: 40px;

      .eachCard-image {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
      .apartaments-box-cards-eachCard-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-left: 30px;

        .apartaments-box-cards-eachCard-content-desc {
          display: flex;
          align-items: center;
          text-align: start;
         
          h5 {
            width: 16vw;
            color: #bdbdbd;
          }
          img {
            height: 4vh;
            padding-left: 40px;
            
          }
        }

        h3 {
          margin: 0;
          text-align: start;
          width: 20vw;
          color: #7d9077;
          font-size: 20px;
        }

        .apartaments-box-cards-eachCard-content-details {
          display: flex;
          justify-content: space-around;
          align-items: center;
          color: #7d9077;

          .details-image {
            height: 3vh;
          }
        }

        .apartaments-box-cards-eachCard-content-moreDetails {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          .apartaments-box-cards-eachCard-content-moreDetails-disp {
            height: 10vh;
            line-height: 1px;
            text-align: start;
            #disp {
              color: #bdbdbd;
            }

            h5 {
              color: #7d9077;
            }
          }

          .apartaments-box-cards-eachCard-content-moreDetails-price {
            height: 10vh;
            line-height: 1px;
            margin-right: 25px;
            text-align: start;
            h4 {
              font-weight: bold;
              color: #7d9077;
            }

            h5 {
              color: #616161;
            }
          }
        }
      }
    }
  }

  button {
    font-size: 17px;
    color: white;
    background-color: #a6bf9d;
    padding: 10px;
    width: 7vw;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
